.awards1-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.awards1-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.awards1-title {
  width: 100%;
  text-align: center;
}
 
.awards1-subtitle {
  text-align: center;
}
 
.awards1-content {
  gap: var(--dl-layout-space-twounits);
}
 
.awards1-column1 {
  flex: 1;
  height: 305px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
 
.awards1-text10 {
  align-self: center;
}
 
.awards1-text11 {
  align-self: center;
}
 
.awards1-text12 {
  height: auto;
  align-self: flex-start;
  text-align: left;
}
 
.awards1-avatar {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.awards1-avatar-content {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.awards1-column2 {
  flex: 1;
  height: 306px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
 
.awards1-text13 {
  align-self: center;
}
 
.awards1-text14 {
  align-self: center;
}
 
.awards1-text15 {
  height: auto;
}
 
.awards1-column3 {
  flex: 1;
  height: 308px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
 
.awards1-text16 {
  align-self: center;
}
 
.awards1-text17 {
  align-self: center;
}
 
.awards1-text18 {
  height: auto;
}
 
.awards1-fragment10 {
  display: contents;
}
 
.awards1-text19 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment11 {
  display: contents;
}
 
.awards1-text20 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment12 {
  display: contents;
}
 
.awards1-text21 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment13 {
  display: contents;
}
 
.awards1-text22 {
  display: inline-block;
  font-size: 35px;
  font-family: "STIX Two Text";
}
 
.awards1-fragment14 {
  display: contents;
}
 
.awards1-text23 {
  display: inline-block;
  font-size: 30px;
  font-family: "STIX Two Text";
}
 
.awards1-fragment15 {
  display: contents;
}
 
.awards1-text24 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment16 {
  display: contents;
}
 
.awards1-text25 {
  display: inline-block;
}
 
.awards1-fragment17 {
  display: contents;
}
 
.awards1-text26 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment18 {
  display: contents;
}
 
.awards1-text27 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment19 {
  display: contents;
}
 
.awards1-text28 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.awards1-fragment20 {
  display: contents;
}
 
.awards1-text29 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 

 

 
@media(max-width: 991px) {
  .awards1-max-width {
    gap: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .awards1-section-title {
    width: 100%;
    max-width: 800px;
  }
  .awards1-content {
    flex-direction: column;
  }
}
