.banner2-container1 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  height: 740px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner2-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 678px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.banner2-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner2-title {
  text-align: center;
}
 
.banner2-text1 {
  text-align: center;
}
 
.banner2-button {
  z-index: 100;
  border-color: #ffffff;
  background-color: #407540;
}
 
.banner2-video {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.banner2-fragment1 {
  display: contents;
}
 
.banner2-text2 {
  display: inline-block;
}
 
.banner2-fragment2 {
  display: contents;
}
 
.banner2-text3 {
  color: #ffffff;
  display: inline-block;
}
 
.banner2-fragment3 {
  display: contents;
}
 
.banner2-text4 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.banner2root-class-name {
  width: 100%;
  align-self: center;
}
 
@media(max-width: 479px) {
  .banner2-max-width {
    justify-content: center;
  }
  .banner2-container2 {
    justify-content: center;
  }
  .banner2-button {
    border-color: #ffffff;
    background-color: #407540;
  }
  .banner2-video {
    width: 100%;
    height: 100%;
  }
  .banner2-text3 {
    color: #ffffff;
  }
  .banner2-text4 {
    color: #ffffff;
  }
}
