.booking-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.booking-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.booking-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.booking-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text10 {
  text-align: center;
}
 
.booking-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.booking-column1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.booking-price10 {
  gap: var(--dl-layout-space-twounits);
  height: 134px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text12 {
  font-size: 48px;
}
 
.booking-button1 {
  color: #ffffff;
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
 
.booking-price12 {
  gap: var(--dl-layout-space-twounits);
  height: 134px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text16 {
  font-size: 48px;
}
 
.booking-button2 {
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking-column3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(245, 209, 176, 0);
}
 
.booking-price14 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price15 {
  gap: var(--dl-layout-space-halfunit);
  height: 137px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text19 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text20 {
  font-size: 48px;
}
 
.booking-button3 {
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.booking-column4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.booking-icon10 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking-price16 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text23 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text24 {
  font-size: 48px;
}
 
.booking-list1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking-list-item10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-button4 {
  width: 100%;
}
 
.booking-column5 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.booking-icon22 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking-price18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text30 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text31 {
  font-size: 48px;
}
 
.booking-list2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking-list-item13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-button5 {
  width: 100%;
}
 
.booking-column6 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.booking-icon32 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking-price20 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-price21 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking-text38 {
  font-style: normal;
  font-weight: 600;
}
 
.booking-text39 {
  font-size: 48px;
}
 
.booking-list3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking-list-item17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-list-item21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking-button6 {
  width: 100%;
}
 
.booking-fragment10 {
  display: contents;
}
 
.booking-text47 {
  display: inline-block;
}
 
.booking-fragment11 {
  display: contents;
}
 
.booking-text48 {
  display: inline-block;
}
 
.booking-fragment12 {
  display: contents;
}
 
.booking-text49 {
  display: inline-block;
}
 
.booking-fragment13 {
  display: contents;
}
 
.booking-text50 {
  display: inline-block;
}
 
.booking-fragment14 {
  display: contents;
}
 
.booking-text51 {
  display: inline-block;
  font-size: 40px;
}
 
.booking-fragment15 {
  display: contents;
}
 
.booking-text52 {
  display: inline-block;
}
 
.booking-fragment16 {
  display: contents;
}
 
.booking-text53 {
  display: inline-block;
}
 
.booking-fragment17 {
  display: contents;
}
 
.booking-text54 {
  display: inline-block;
}
 
.booking-fragment18 {
  display: contents;
}
 
.booking-text55 {
  display: inline-block;
}
 
.booking-fragment19 {
  display: contents;
}
 
.booking-text56 {
  display: inline-block;
  font-size: 40px;
}
 
.booking-fragment20 {
  display: contents;
}
 
.booking-text57 {
  display: inline-block;
}
 
.booking-fragment21 {
  display: contents;
}
 
.booking-text58 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment22 {
  display: contents;
}
 
.booking-text59 {
  display: inline-block;
}
 
.booking-fragment23 {
  display: contents;
}
 
.booking-text60 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment24 {
  display: contents;
}
 
.booking-text61 {
  display: inline-block;
  font-size: 40px;
}
 
.booking-fragment25 {
  display: contents;
}
 
.booking-text62 {
  display: inline-block;
}
 
.booking-fragment26 {
  display: contents;
}
 
.booking-text63 {
  display: inline-block;
}
 
.booking-fragment27 {
  display: contents;
}
 
.booking-text64 {
  display: inline-block;
}
 
.booking-fragment28 {
  display: contents;
}
 
.booking-text65 {
  display: inline-block;
}
 
.booking-fragment29 {
  display: contents;
}
 
.booking-text66 {
  display: inline-block;
}
 
.booking-fragment30 {
  display: contents;
}
 
.booking-text67 {
  display: inline-block;
}
 
.booking-fragment31 {
  display: contents;
}
 
.booking-text68 {
  display: inline-block;
}
 
.booking-fragment32 {
  display: contents;
}
 
.booking-text69 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment33 {
  display: contents;
}
 
.booking-text70 {
  display: inline-block;
}
 
.booking-fragment34 {
  display: contents;
}
 
.booking-text71 {
  display: inline-block;
}
 
.booking-fragment35 {
  display: contents;
}
 
.booking-text72 {
  display: inline-block;
}
 
.booking-fragment36 {
  display: contents;
}
 
.booking-text73 {
  display: inline-block;
}
 
.booking-fragment37 {
  display: contents;
}
 
.booking-text74 {
  display: inline-block;
}
 
.booking-fragment38 {
  display: contents;
}
 
.booking-text75 {
  display: inline-block;
}
 
.booking-fragment39 {
  display: contents;
}
 
.booking-text76 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment40 {
  display: contents;
}
 
.booking-text77 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment41 {
  display: contents;
}
 
.booking-text78 {
  display: inline-block;
}
 
.booking-fragment42 {
  display: contents;
}
 
.booking-text79 {
  display: inline-block;
}
 
.booking-fragment43 {
  display: contents;
}
 
.booking-text80 {
  display: inline-block;
}
 
.booking-fragment44 {
  display: contents;
}
 
.booking-text81 {
  display: inline-block;
}
 
.booking-fragment45 {
  display: contents;
}
 
.booking-text82 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking-fragment46 {
  display: contents;
}
 
.booking-text83 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .booking-container1 {
    flex-direction: column;
  }
  .booking-column3 {
    width: 100%;
  }
  .booking-container2 {
    flex-direction: column;
  }
  .booking-column6 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .booking-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .booking-button1 {
    width: auto;
  }
  .booking-button2 {
    width: auto;
  }
  .booking-button3 {
    width: auto;
  }
  .booking-button4 {
    width: 100%;
  }
  .booking-button5 {
    width: 100%;
  }
  .booking-button6 {
    width: 100%;
  }
  .bookingroot-class-name {
    width: auto;
  }
}
