.booking11-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.booking11-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.booking11-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.booking11-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text10 {
  text-align: center;
}
 
.booking11-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.booking11-column1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.booking11-price10 {
  gap: var(--dl-layout-space-twounits);
  height: 134px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text12 {
  font-size: 48px;
}
 
.booking11-button1 {
  color: #ffffff;
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking11-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
 
.booking11-price12 {
  gap: var(--dl-layout-space-twounits);
  height: 134px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text16 {
  font-size: 48px;
}
 
.booking11-button2 {
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking11-column3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(245, 209, 176, 0);
}
 
.booking11-price14 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price15 {
  gap: var(--dl-layout-space-halfunit);
  height: 137px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text19 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text20 {
  font-size: 48px;
}
 
.booking11-button3 {
  width: auto;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #407540;
}
 
.booking11-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.booking11-column4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.booking11-icon10 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking11-price16 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text23 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text24 {
  font-size: 48px;
}
 
.booking11-list1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking11-list-item10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-button4 {
  width: 100%;
}
 
.booking11-column5 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.booking11-icon22 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking11-price18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text30 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text31 {
  font-size: 48px;
}
 
.booking11-list2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking11-list-item13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-button5 {
  width: 100%;
}
 
.booking11-column6 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.booking11-icon32 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.booking11-price20 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-price21 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.booking11-text38 {
  font-style: normal;
  font-weight: 600;
}
 
.booking11-text39 {
  font-size: 48px;
}
 
.booking11-list3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.booking11-list-item17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-list-item21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.booking11-button6 {
  width: 100%;
}
 
.booking11-fragment10 {
  display: contents;
}
 
.booking11-text47 {
  display: inline-block;
}
 
.booking11-fragment11 {
  display: contents;
}
 
.booking11-text48 {
  display: inline-block;
}
 
.booking11-fragment12 {
  display: contents;
}
 
.booking11-text49 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment13 {
  display: contents;
}
 
.booking11-text50 {
  display: inline-block;
}
 
.booking11-fragment14 {
  display: contents;
}
 
.booking11-text51 {
  display: inline-block;
}
 
.booking11-fragment15 {
  display: contents;
}
 
.booking11-text52 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment16 {
  display: contents;
}
 
.booking11-text53 {
  display: inline-block;
}
 
.booking11-fragment17 {
  display: contents;
}
 
.booking11-text54 {
  display: inline-block;
}
 
.booking11-fragment18 {
  display: contents;
}
 
.booking11-text55 {
  display: inline-block;
}
 
.booking11-fragment19 {
  display: contents;
}
 
.booking11-text56 {
  display: inline-block;
}
 
.booking11-fragment20 {
  display: contents;
}
 
.booking11-text57 {
  display: inline-block;
}
 
.booking11-fragment21 {
  display: contents;
}
 
.booking11-text58 {
  display: inline-block;
}
 
.booking11-fragment22 {
  display: contents;
}
 
.booking11-text59 {
  display: inline-block;
  font-size: 40px;
}
 
.booking11-fragment23 {
  display: contents;
}
 
.booking11-text60 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment24 {
  display: contents;
}
 
.booking11-text61 {
  display: inline-block;
}
 
.booking11-fragment25 {
  display: contents;
}
 
.booking11-text62 {
  display: inline-block;
}
 
.booking11-fragment26 {
  display: contents;
}
 
.booking11-text63 {
  display: inline-block;
  font-size: 40px;
}
 
.booking11-fragment27 {
  display: contents;
}
 
.booking11-text64 {
  display: inline-block;
}
 
.booking11-fragment28 {
  display: contents;
}
 
.booking11-text65 {
  display: inline-block;
}
 
.booking11-fragment29 {
  display: contents;
}
 
.booking11-text66 {
  display: inline-block;
}
 
.booking11-fragment30 {
  display: contents;
}
 
.booking11-text67 {
  display: inline-block;
}
 
.booking11-fragment31 {
  display: contents;
}
 
.booking11-text68 {
  display: inline-block;
  font-size: 40px;
}
 
.booking11-fragment32 {
  display: contents;
}
 
.booking11-text69 {
  display: inline-block;
}
 
.booking11-fragment33 {
  display: contents;
}
 
.booking11-text70 {
  display: inline-block;
}
 
.booking11-fragment34 {
  display: contents;
}
 
.booking11-text71 {
  display: inline-block;
}
 
.booking11-fragment35 {
  display: contents;
}
 
.booking11-text72 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment36 {
  display: contents;
}
 
.booking11-text73 {
  display: inline-block;
}
 
.booking11-fragment37 {
  display: contents;
}
 
.booking11-text74 {
  display: inline-block;
}
 
.booking11-fragment38 {
  display: contents;
}
 
.booking11-text75 {
  display: inline-block;
}
 
.booking11-fragment39 {
  display: contents;
}
 
.booking11-text76 {
  display: inline-block;
}
 
.booking11-fragment40 {
  display: contents;
}
 
.booking11-text77 {
  display: inline-block;
}
 
.booking11-fragment41 {
  display: contents;
}
 
.booking11-text78 {
  display: inline-block;
}
 
.booking11-fragment42 {
  display: contents;
}
 
.booking11-text79 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment43 {
  display: contents;
}
 
.booking11-text80 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.booking11-fragment44 {
  display: contents;
}
 
.booking11-text81 {
  display: inline-block;
}
 
.booking11-fragment45 {
  display: contents;
}
 
.booking11-text82 {
  display: inline-block;
}
 
.booking11-fragment46 {
  display: contents;
}
 
.booking11-text83 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .booking11-container1 {
    flex-direction: column;
  }
  .booking11-button1 {
    width: auto;
  }
  .booking11-button2 {
    width: auto;
  }
  .booking11-column3 {
    width: 100%;
  }
  .booking11-button3 {
    width: auto;
  }
  .booking11-container2 {
    flex-direction: column;
  }
  .booking11-column6 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .booking11-button1 {
    width: auto;
  }
  .booking11-button2 {
    width: auto;
  }
  .booking11-button3 {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .booking11-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .booking11-button1 {
    width: auto;
  }
  .booking11-button2 {
    width: auto;
  }
  .booking11-button3 {
    width: auto;
  }
  .booking11-button4 {
    width: 100%;
  }
  .booking11-button5 {
    width: 100%;
  }
  .booking11-button6 {
    width: 100%;
  }
}
