.contact1-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact1-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact1-contact-info {
  gap: 16px;
  height: 152px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact1-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact1-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact1-row3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.contact1-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact1-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact1-text12 {
  font-family: "STIX Two Text";
}
 
.contact1-text-input1 {
  width: 100%;
}
 
.contact1-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact1-text13 {
  font-family: "STIX Two Text";
}
 
.contact1-text-input2 {
  width: 100%;
}
 
.contact1-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact1-text14 {
  font-family: "STIX Two Text";
}
 
.contact1-textarea {
  width: 100%;
}
 
.contact1-button {
  border-color: #ffffff;
  background-color: #407540;
}
 
.contact1-fragment1 {
  display: contents;
}
 
.contact1-text15 {
  display: inline-block;
}
 
.contact1-fragment2 {
  display: contents;
}
 
.contact1-text16 {
  display: inline-block;
}
 
.contact1-fragment3 {
  display: contents;
}
 
.contact1-text17 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.contact1-fragment4 {
  display: contents;
}
 
.contact1-text18 {
  display: inline-block;
}
 
.contact1-fragment5 {
  display: contents;
}
 
.contact1-text19 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.contact1-fragment6 {
  display: contents;
}
 
.contact1-text20 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 

 

 
@media(max-width: 991px) {
  .contact1-max-width {
    flex-direction: column;
  }
  .contact1-content {
    width: 100%;
  }
  .contact1-form {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact1-text20 {
    font-family: STIX Two Text;
  }
}
