.home-g1-gallery3 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-g1-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-g1-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-g1-text1 {
  text-align: center;
}
 
.home-g1-text2 {
  text-align: center;
}
 
.home-g1-container {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-g1-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-g1-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
 
.home-g1-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image2 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
 
.home-g1-slider-slide3 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide4 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide5 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide6 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide7 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-slide8 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g1-image8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g1-slider-button-prev {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.home-g1-slider-button-next {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.home-g1-slider-pagination {
  display: block;
}
 
.home-g1-fragment1 {
  display: contents;
}
 
.home-g1-text3 {
  display: inline-block;
}
 
.home-g1-fragment2 {
  display: contents;
}
 
.home-g1-text4 {
  display: inline-block;
}
 

 
.home-g1root-class-name1 {
  align-self: center;
}
 
@media(max-width: 991px) {
  .home-g1-content {
    align-items: center;
    flex-direction: column;
  }
  .home-g1root-class-name1 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .home-g1-section-title {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-g1-slider {
    height: 550px;
  }
  .home-g1-image1 {
    width: 100%;
    height: 100%;
  }
  .home-g1root-class-name1 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .home-g1-gallery3 {
    height: 100%;
  }
  .home-g1-slider {
    height: 440px;
  }
  .home-g1-image1 {
    width: 100%;
    height: 100%;
  }
  .home-g1-slider-button-prev {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
  }
  .home-g1-slider-button-next {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
  }
  .home-g1-slider-pagination {
    fill: var(--dl-color-theme-neutral-dark);
    color: #000000;
  }
  .home-g1root-class-name1 {
    width: 100%;
    align-self: center;
  }
}
