.home-g-gallery3 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-g-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-g-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-g-text1 {
  text-align: center;
}
 
.home-g-text2 {
  text-align: center;
}
 
.home-g-container {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-g-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-g-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
 
.home-g-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image2 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
 
.home-g-slider-slide3 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide4 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide5 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide6 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide7 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-slide8 {
  height: calc(100% - 20px);
  display: flex;
}
 
.home-g-image8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-g-slider-button-prev {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.home-g-slider-button-next {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.home-g-slider-pagination {
  display: block;
}
 
.home-g-fragment1 {
  display: contents;
}
 
.home-g-text3 {
  display: inline-block;
  font-style: normal;
  font-family: "Spectral";
  font-weight: 700;
}
 
.home-g-fragment2 {
  display: contents;
}
 
.home-g-text4 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 

 
@media(max-width: 991px) {
  .home-g-gallery3 {
    height: 100%;
  }
  .home-g-content {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-g-gallery3 {
    height: 100%;
  }
  .home-g-section-title {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-g-slider {
    height: 550px;
  }
  .home-g-image1 {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
}
 
@media(max-width: 479px) {
  .home-g-gallery3 {
    width: 100%;
    height: 100%;
  }
  .home-g-slider {
    height: 440px;
  }
  .home-g-image1 {
    width: 100%;
    height: 100%;
  }
  .home-g-slider-button-prev {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
  }
  .home-g-slider-button-next {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
  }
  .home-groot-class-name {
    width: 100%;
  }
}
