.services1-pricing4 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.services1-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.services1-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.services1-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.services1-text10 {
  text-align: center;
}
 
.services1-text11 {
  text-align: center;
}
 
.services1-content2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.services1-price-title1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.services1-price-title2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.services1-title {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.services1-text12 {
  font-style: normal;
  font-weight: 600;
}
 
.services1-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.services1-text14 {
  font-family: "STIX Two Text";
}
 
.services1-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.services1-list1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.services1-list-item10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text15 {
  font-family: "STIX Two Text";
}
 
.services1-list-item11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text16 {
  font-family: "STIX Two Text";
}
 
.services1-list-item12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text17 {
  font-family: "STIX Two Text";
}
 
.services1-list-item13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text18 {
  font-family: "STIX Two Text";
}
 
.services1-list-item14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text19 {
  font-family: "STIX Two Text";
}
 
.services1-list2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.services1-list-item15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text20 {
  font-family: "STIX Two Text";
}
 
.services1-list-item16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text21 {
  font-family: "STIX Two Text";
}
 
.services1-list-item17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text22 {
  font-family: "STIX Two Text";
}
 
.services1-list-item18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text23 {
  font-family: "STIX Two Text";
}
 
.services1-list-item19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.services1-text24 {
  font-family: "STIX Two Text";
}
 
.services1-button {
  width: auto;
  align-self: center;
  border-color: #ffffff;
  background-color: #407540;
}
 
.services1-fragment10 {
  display: contents;
}
 
.services1-text25 {
  display: inline-block;
}
 
.services1-fragment11 {
  display: contents;
}
 
.services1-text26 {
  display: inline-block;
}
 
.services1-fragment12 {
  display: contents;
}
 
.services1-text27 {
  display: inline-block;
}
 
.services1-fragment13 {
  display: contents;
}
 
.services1-text28 {
  display: inline-block;
}
 
.services1-fragment14 {
  display: contents;
}
 
.services1-text29 {
  display: inline-block;
}
 
.services1-fragment15 {
  display: contents;
}
 
.services1-text30 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.services1-fragment16 {
  display: contents;
}
 
.services1-text31 {
  display: inline-block;
}
 
.services1-fragment17 {
  display: contents;
}
 
.services1-text32 {
  display: inline-block;
}
 
.services1-fragment18 {
  display: contents;
}
 
.services1-text33 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.services1-fragment19 {
  display: contents;
}
 
.services1-text34 {
  display: inline-block;
}
 
.services1-fragment20 {
  display: contents;
}
 
.services1-text35 {
  display: inline-block;
}
 
.services1-fragment21 {
  display: contents;
}
 
.services1-text36 {
  display: inline-block;
}
 
.services1-fragment22 {
  display: contents;
}
 
.services1-text37 {
  display: inline-block;
  font-family: "STIX Two Text";
}
 
.services1-fragment23 {
  display: contents;
}
 
.services1-text38 {
  display: inline-block;
}
 
.services1-fragment24 {
  display: contents;
}
 
.services1-text39 {
  display: inline-block;
}
 
.services1-fragment25 {
  display: contents;
}
 
.services1-text40 {
  display: inline-block;
}
 

 

 
@media(max-width: 479px) {
  .services1-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .services1-price-title1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services1-price-title2 {
    align-items: center;
    justify-content: center;
  }
  .services1-title {
    align-items: center;
    justify-content: center;
  }
  .services1-text12 {
    text-align: center;
  }
  .services1-text13 {
    text-align: center;
  }
  .services1-content4 {
    flex-direction: column;
  }
  .services1-list1 {
    width: 100%;
  }
  .services1-list2 {
    width: 100%;
  }
  .services1-button {
    width: auto;
  }
  .services1root-class-name1 {
    width: auto;
  }
}
